.menu {
  display: none;
}

.menu.show {
  display: block;
}

.todo {
  width: 450px;
  margin: 50px auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.todo__create {
  display: flex;
  align-items: center;
}

.todo__create input {
  flex: 1;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
  padding: 0 10px;
}

.todo__create button {
  height: 42px;
  padding: 0 20px;
  border: 0;
  background-color: orange;
  border-radius: 0 6px 6px 0;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.todo__create button:hover {
  background-color: orangered;
}

.todo__list {
  margin-top: 20px;
}

.todo__item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
}

.todo__item--initial {
  background-color: #f0f0f0;
}

.todo__item--doing {
  background-color: #8cd3e3;
}

.todo__item--completed {
  background-color: #a2e38c;
}

.todo__item--rejected {
  background-color: #e38c8c;
}